body{
    background-color: hsl(0, 0%, 8%);
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Inter", sans-serif;
}

main {
    border-radius: 15px;
    width: 450px;
    min-height: 670px;
    padding: 15px;
    background-color:hsl(0, 0%, 12%) ;
}
img{
    border-radius: 100px;
}

.nombre{
    padding-top: 30px;
    text-align: center;
}
div{
    text-align: center;
    padding: 5px;
}

h1{
    color: hsl(0, 0%, 100%);
    font-weight: 500;
}

h2{
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    font-size: 15px;
}

h3{
    color: hsl(0, 0%, 65%);
    font-weight: 400;
}

.redes{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 30px 0px 30px;
}
button{
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    border-radius: 8px;
    padding: 15px 70px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    /* white-space: nowrap; */
}

button:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}